<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sapanca Gölpınar Sitesi</title>
    <!-- meta data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--font-family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&amp;subset=devanagari,latin-ext" rel="stylesheet">

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="~/logo/sun-logo.jpg" />

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    <!--flat icon css-->
    <link rel="stylesheet" href="~/css/flaticon.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/css/animate.css">

    <!--owl.carousel.css-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/css/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/css/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/27ecab3883.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- top-area Start -->
    <header class="top-area">
        <div class="header-area">
            <!-- Start Navigation -->
            <nav class="navbar navbar-default bootsnav navbar-fixed dark no-background">

                <div class="container">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sapanca Gölpınar</a>
                    </div><!--/.navbar-header-->
                    <!-- End Header Navigation -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                            <li><a asp-area="" asp-controller="Houses" asp-action="Index">Evler</a></li>
                            <li><a asp-area="" asp-controller="Residents" asp-action="Index">Site Sakinleri</a></li>
                            <li><a asp-area="" asp-controller="Gallery" asp-action="Index">Fotoğraf Galerisi</a></li>
                            <li><a asp-area="" asp-controller="Presidents" asp-action="Index">Yönetim</a></li>
                            <li><a asp-area="" asp-controller="Contact" asp-action="Index">İletişim</a></li>
                        </ul><!--/.nav -->
                    </div><!-- /.navbar-collapse -->
                </div><!--/.container-->
            </nav><!--/nav-->
            <!-- End Navigation -->
        </div><!--/.header-area-->

        <div class="clearfix"></div>

    </header><!-- /.top-area-->
    <!-- top-area End -->

        <main role="main">
            <div style="height: 120px;"></div>
            @RenderBody()
        </main>

    <!--footer-copyright start-->
    <footer id="footer-copyright" class="footer-copyright">
        <div class="container">
            <div class="hm-footer-copyright text-center">
                <p>
                    &copy; Dizayn ve yapım <a href="https://www.linkedin.com/in/kutay-sutcu/" target="_blank">Kutay Sütçü</a>
                </p><!--/p-->
            </div><!--/.text-center-->
        </div><!--/.container-->

        <div id="scroll-Top">
            <div class="return-to-top">
                <i class="fa fa-angle-up " id="scroll-top"></i>
            </div>

        </div><!--/.scroll-Top-->

    </footer><!--/.footer-copyright-->
    <!--footer-copyright end-->

    <!-- Include all js compiled plugins (below), or include individual files as needed -->

    <script src="~/js/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/js/bootsnav.js"></script>

    <!-- jquery.sticky.js -->
    <script src="~/js/jquery.sticky.js"></script>

    <!-- for progress bar start-->
    <!-- progressbar js -->
    <script src="~/js/progressbar.js"></script>

    <!-- appear js -->
    <script src="~/js/jquery.appear.js"></script>

    <!-- for progress bar end -->
    <!--owl.carousel.js-->
    <script src="~/js/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
