@model IEnumerable<WebSitesi.Models.EvSahipKiraciModel>

<div class="container">
    <h1 class="text-center">Ev Listesi</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Ev Numarası</th>
                <th scope="col">Ev Sahibi</th>
                <th scope="col">Kiracı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Model)
            {
                <tr>
                    <th scope="row">@ev.Ev_Numarasi</th>
                    <td>@ev.Ev_Sahibi</td>
                    <td>@ev.Kiraci</td>
                </tr>
            }
        </tbody>
    </table>
</div>
