@{
    ViewData["Title"] = "Ana Sayfa";
}

<!-- The Modal -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<img id="modal-image" src=""></img>
	</div>

</div>

<div id="slideshow">
	<div class="slide-wrapper">
		<div class="slide"><img src="~/images/golpinar/golpinar-1.jpg" style="height: 600px; width: 1200px;"></div>
		<div class="slide"><img src="~/images/golpinar/golpinar-2.jpg" style="height: 600px; width: 1200px;"></div>
		<div class="slide"><img src="~/images/golpinar/golpinar-3.jpg" style="height: 600px; width: 1200px;"></div>
		<div class="slide"><img src="~/images/golpinar/golpinar-4.jpg" style="height: 600px; width: 1200px;"></div>
	</div>
</div>
<br>

<!--about start -->
<section id="about" class="about">
	<div class="section-heading text-center">
		<h2>Biz bir aileyiz &#128521;</h2>
	</div>
</section><!--/.about-->
<!--about end -->
<!--profiles start -->
<section id="profiles" class="profiles">
	<div class="profiles-details">
		<div class="section-heading text-center">
			<h2>Aktiviteler</h2>
		</div>
		<div class="container">
			<div class="profiles-content">
				<div class="row">
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-person-swimming"></i></a>
								<div class="profile-icon-name">Yüzme</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-person-swimming"></i></a>
									<div class="profile-icon-name">Yüzme</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-basketball"></i></a>
								<div class="profile-icon-name">Basketbol</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-basketball"></i></a>
									<div class="profile-icon-name">Basketbol</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-tree"></i></a>
								<div class="profile-icon-name">Doğa Yürüyüşü</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-tree"></i></a>
									<div class="profile-icon-name">Doğa Yürüyüşü</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile profile-no-border">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-volleyball"></i></a>
								<div class="profile-icon-name">Voleybol</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-volleyball"></i></a>
									<div class="profile-icon-name">Voleybol</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-border"></div>
				<div class="row">
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-bicycle"></i></a>
								<div class="profile-icon-name">Bisiklet Turu</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-bicycle"></i></a>
									<div class="profile-icon-name">Bisiklet Turu</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-campground"></i></a>
								<div class="profile-icon-name">Kamp</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-campground"></i></a>
									<div class="profile-icon-name">Kamp</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-champagne-glasses"></i></a>
								<div class="profile-icon-name">Parti</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-champagne-glasses"></i></a>
									<div class="profile-icon-name">Parti</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="single-profile profile-no-border">
							<div class="profile-txt">
								<a href=""><i class="fa-solid fa-headphones"></i></a>
								<div class="profile-icon-name">Havuz Başı DJ</div>
							</div>
							<div class="single-profile-overlay">
								<div class="profile-txt">
									<a href=""><i class="fa-solid fa-headphones"></i></a>
									<div class="profile-icon-name">Havuz Başı DJ</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section><!--/.profiles-->
<!--profiles end -->
<!--portfolio start -->
<section id="portfolio" class="portfolio">
	<div class="portfolio-details">
		<div class="section-heading text-center">
			<h2>Resimler</h2>
		</div>
		<div class="container">
			<div class="portfolio-content">
				<div class="isotope">
					<div class="row">

						<div class="col-sm-4">
							<div class="item" id="resim-1">
								<img src="~/images/golpinar/golpinar-havuz-3.jpg" alt="portfolio image" style="height: 210px;" />
							</div><!-- /.item -->
							<div class="item" id="resim-2">
								<img src="~/images/golpinar/golpinar-havuz-4.jpg" alt="portfolio image" style="height: 210px;" />
							</div><!-- /.item -->
						</div><!-- /.col -->

						<div class="col-sm-4">
							<div class="item" id="resim-3">
								<img src="~/images/golpinar/golpinar-gol.jpg" alt="portfolio image" style="height: 450px;" />
							</div><!-- /.item -->
						</div><!-- /.col -->

						<div class="col-sm-4">
							<div class="item" id="resim-4">
								<img src="~/images/golpinar/golpinar-kar-1.jpg" alt="portfolio image" style="height: 210px;" />
							</div><!-- /.item -->
							<div class="item" id="resim-5">
								<img src="~/images/golpinar/golpinar-toplanti.jpg" alt="portfolio image" style="height: 210px;" />
							</div><!-- /.item -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!--/.isotope-->
			</div><!--/.gallery-content-->
		</div><!--/.container-->
	</div><!--/.portfolio-details-->

</section><!--/.portfolio-->
<!--portfolio end -->