<div class="container">
    <div class="card mb-3" style="max-width: 540px; margin-left: auto; margin-right: auto;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://img.a.transfermarkt.technology/portrait/big/44402-1644154456.png"
                     alt="Trendy Pants and Shoes"
                     class="img-fluid rounded-start" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Mehmet Topal</h5>
                    <p class="card-text">
                        Mehmet Topal (d. 3 Mart 1986, Malatya), ön libero mevkiinde oynamış eski Türk millî futbolcudur.

                        Üç farklı takımla (Galatasaray, Fenerbahçe ve İstanbul Başakşehir) Süper Lig şampiyonluğu yaşayan tek futbolcudur. Ayrıca 2000, 2010 ve 2020'li yıllarda Şampiyonlar Ligi'nde forma giyen ilk Türk futbolcudur.[1]

                        2008-2018 yılları arasında Türkiye formasıyla 81 maça çıktı ve 2 gol attı.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>